<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>patientServlet</servlet-name>
    <servlet-class>com.epam.hospital.web.PatientServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientServlet</servlet-name>
    <url-pattern>/patients</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>patientAjaxServlet</servlet-name>
    <servlet-class>com.epam.hospital.web.PatientAjaxServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientAjaxServlet</servlet-name>
    <url-pattern>/ajax/pat/*</url-pattern>
  </servlet-mapping>


</web-app>
