<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Hospital</display-name>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>frontControllerServlet</servlet-name>
        <servlet-class>com.epam.hospital.servlet.FrontControllerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>frontControllerServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>langFilter</filter-name>
        <filter-class>com.epam.hospital.filter.LangFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>langFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>resourcesFilter</filter-name>
        <filter-class>com.epam.hospital.filter.ResourcesFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>resourcesFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>com.epam.hospital.filter.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- Listners -->
    <listener>
        <listener-class>com.epam.hospital.servlet.AppServletContextListner</listener-class>
    </listener>

     <!--Context parameters-->
    <context-param>
        <param-name>dbPropertiesFile</param-name>
        <param-value>db/db.properties</param-value>
    </context-param>

    <context-param>
        <param-name>actionClasses</param-name>
        <param-value>
            com.epam.hospital.action.LoginAction
            com.epam.hospital.action.LogoutAction
            com.epam.hospital.action.AdminAction
            com.epam.hospital.action.NoAdminAction
            com.epam.hospital.action.UserAction
            com.epam.hospital.action.StaffAction
            com.epam.hospital.action.RoleAction
            com.epam.hospital.action.HandbkAction
            com.epam.hospital.action.TranslationAction
            com.epam.hospital.action.LangAction
            com.epam.hospital.action.PatientAction
            com.epam.hospital.action.ReceptionAction
        </param-value>
    </context-param>

</web-app>
