<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Hospital</display-name>

    <welcome-file-list>
        <welcome-file>jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <!-- Servlets -->
    <servlet>
        <servlet-name>frontControllerServlet</servlet-name>
        <servlet-class>com.epam.hospital.servlet.FrontControllerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>frontControllerServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter>
        <filter-name>langFilter</filter-name>
        <filter-class>com.epam.hospital.filter.LangFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>langFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>resourcesFilter</filter-name>
        <filter-class>com.epam.hospital.filter.ResourcesFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>resourcesFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>securityFilter</filter-name>
        <filter-class>com.epam.hospital.filter.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>securityFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!--Context parameters-->
    <context-param>
        <param-name>dbPropertiesFile</param-name>
        <param-value>db/db.properties</param-value>
    </context-param>

</web-app>
